@page
@model AlquilerAutos.App.Presentacion.Pages.Macas.DetailsModel
@{
}

<h2>Datos Detallados @Model.marca.marca</h2>
<div>
    ID: @Model.marca.id
</div>
<div>
    MARCA: @Model.marca.marca
</div>

<a asp-page="./List" class="btn-default">Volver</a>
