@page
@model AdminModel
@{
    ViewData["Title"] = "Panel de Administración";
}
<h1>@ViewData["Title"]</h1>

<br>

<div class="row">
    <div class="col-lg-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="img/usuario-verificado.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <p class="card-text">Administre los usuarios de su plataforma.</p>

                <p class="card-text bg-darck" style="transform: rotate(0);">
                    Ingresa <a href="https://www.google.com/" class="text-primary  stretched-link">Acá </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="img/car.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vehiculos</h5>
                <p class="card-text">Cree los vehiculos necesarios para su administracion</p>

                <p class="card-text bg-darck" style="transform: rotate(0);">
                    Ingresa <a href="adminlog" class="text-primary stretched-link">Acá </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <div class="col-lg-4 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="img/marca.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Marcas</h5>
                    <p class="card-text">Agrege las marcas de sus vehiculos</p>

                    <p class="card-text bg-darck" style="transform: rotate(0);">
                        Ingresa <a href="adminlog" class="text-primary  stretched-link">Acá </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="img/caja-de-cambios.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tipos de Caja</h5>
                <p class="card-text">Agrege los tipos de Tipos de Caja</p>

                <p class="card-text bg-darck" style="transform: rotate(0);">
                    Ingresa <a href="adminlog" class="text-primary  stretched-link">Acá </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="img/gasolina.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tipo de Combustible</h5>
                <p class="card-text">Agrege los tipos de combustibles</p>

                <p class="card-text bg-darck" style="transform: rotate(0);">
                    Ingresa <a href="adminlog" class="text-primary  stretched-link">Acá </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <div class="col-lg-4 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="img/car-rental.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alquiler</h5>
                    <p class="card-text">Conoce tus rentas</p>

                    <p class="card-text bg-darck" style="transform: rotate(0);">
                        Ingresa <a href="adminlog" class="text-primary  stretched-link">Acá </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="img/caja-de-entrega.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Estado de Entrega</h5>
                <p class="card-text">Como entregamos el vehiculo</p>

                <p class="card-text bg-darck" style="transform: rotate(0);">
                    Ingresa <a href="adminlog" class="text-primary  stretched-link">Acá </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="img/status.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Estado de Alquiler</h5>
                <p class="card-text">Valida status de el vehiculo </p>

                <p class="card-text bg-darck" style="transform: rotate(0);">
                    Ingresa <a href="adminlog" class="text-primary  stretched-link">Acá </a>
                </p>
            </div>
        </div>
    </div>

</div>
<br>
<br>
