@page
@model AlquilerAutos.App.Presentacion.Pages.EstadoAlquileres.DeleteModel

@{
    int estadoAlquilerId = Model.estadoAlquiler.id;
}

<h2>Edición de los datos de estado alquileres @Model.estadoAlquiler.estadoAlquiler </h2>
<form method="post">
    <input type="hidden" asp-for="estadoAlquiler.id" />    
    <div class="form-group">
        <label asp-for="estadoAlquiler.estadoAlquiler"></label>
        <input asp-for="estadoAlquiler.estadoAlquiler" class="form-control">
        <span class="text-danger" asp-validation-for="estadoAlquiler.estadoAlquiler"></span>
    </div>
    <button type="submit" class="btn btn-danger">ELIMINAR</button>    
</form>

<a asp-page="./List" class="btn-default">Regresar</a>